header{
	background-color:$bg_gray;
	img{
		width: 100%;
	}
	a{
		i{
			font-size: 15px;
		}
	}
}

.search{

}

.banner{
	background-image: url(../../images/contact.jpg);
	background-repeat: no-repeat;
	background-position: bottom center;
	background-size: cover;
	color:white;
	padding: 18% 0;
	h1{
		font-size: 5.2em;
		background-color:$color_pink;
		padding:1%;
		font-family:'Raleway';
	}
	h5{
		color:white;
	}
}

.footer{
	background-color:$bg_shadown_gray;
}