section.banner
	.container
		.row
			.col-md-6
				h1 CONTAC US
			.col-md-6
				h5 Contact info
				br
				h5 phone:0(1234)567890
				br
				h5 Mail:Infor@roadthemes.com
				br
				h5 Address:No 40 Baria Street 133/2 New York City, NY, United States.
