header
	.container
		.row
			.col-md-8
				h5 Default Welcome Msg!
			.col-md-4
				ul
					li
						img(src='assets/images/flag1.png')
							| Language
							i.fa.fa-caret-down
					li
						a(href='#')
							$ Currency
							i.fa.fa-caret-down
					li
						a(href='#')
							i.fa.fa-user
							| My Account
							i.fa.fa-caret-down
