section.mapa
	.container
		.row
			.col-md-6
			.col-md-6
				.row
					.col-md-6
						input.form-cont(type="text", placeholder="First name*")
						input.form-cont(type="email" class="form-control" id="exampleInputEmail1" placeholder="Email")
					.col-md-6
						input.form-cont(type="text", placeholder="Last name*")
						input.form-cont(type="email" class="form-control" id="exampleInputEmail1" placeholder="Email")
				input.form-cont(type="text" class="form-control" placeholder="Subject")
				textarea.form-cont(name="", cols="30", rows="10" , placeholder="Message*")