section.more-info
	.container
		.row
			.col-md-3
				h4 ACCESSORIESS
				P Lorem ipsum dolor sit amet,consectetur adipisic ing elit, sed do eiusmod tempor incididunt ut labor et dolore magna aliqua. Ut enim ad mimin veniam quis nostrud execitation ullamco laboris
				a.fa.fa-facebook.fa-stack(href="#")
				a.fa.fa-twitter.fa-stack(href="#")
				a.fa.fa-rss.fa-stack(href="#")
				a.fa.fa-skype.fa-stack(href="#")
				a.fa.fa-dribbble.fa-stack(href="#")
			.col-md-2
				h4 MY ACCOUNT
				ul
					li My Account
					li Order Hitory
					li Wish List
					li Newsletter
			.col-md-2
				h4 INFORMAATION
				ul
					li About Us
					li Delivey Information
					li Privacity Policy
					li Terms & Conditions
			.col-md-2
				h4 EXTRAS
				ul
					li Brads
					li Git Vouchers
					li Affiliates
					li Specials
			.col-md-3
				h4 ABOUT US